<mat-toolbar color="primary">
    <span>Despesas dos senadores(2019) - {{ senador.nomeSenador }}</span>
</mat-toolbar>
<mat-nav-list>
    <mat-list-item>
        <p matLine > Aluguel de imóveis e despesas concernentes a eles.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 1) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Divulgação da atividade parlamentar.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 2) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Aquisição de material de consumo para uso no escritório.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 3) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Passagens aéreas, aquáticas e terrestres nacionais.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 4) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e
            outros serviços.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 5) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Locomoção, hospedagem, alimentação e combustíveis.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 6) }}</p>
    </mat-list-item>
    <mat-list-item>
        <p matLine > Serviços de Segurança Privada.</p>
        <p mat-icon-button>{{ calculateTotalDespesas(senador.despesas, 7) }}</p>
    </mat-list-item>
</mat-nav-list>